<header role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  
  <div class="header-content">
    <div class="logo">
      <a href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/crimson-sun-logo-wide.svg" | relative_url }}" alt="紅日 - Crimson Sun" class="logo-image-wide">
      </a>
    </div>
    
    {%- if page_paths -%}
      <nav>
        <ul class="nav-menu">
          <li><a href="{{ "/" | relative_url }}" class="{% if page.url == '/' %}active{% endif %}"><i class="fas fa-home"></i> Home</a></li>
          <li><a href="{{ "/songlist/" | relative_url }}" class="{% if page.url == '/songlist/' %}active{% endif %}"><i class="fas fa-music"></i> Songs</a></li>
          <li><a href="{{ "/about/" | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}"><i class="fas fa-info-circle"></i> About</a></li>
        </ul>
      </nav>
    {%- endif -%}
  </div>
</header>
