.logo_img {
    width: 250px;
    max-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.logo_text {
    font-size: 40px;
    font-weight: 500;
    background: -webkit-linear-gradient(#EDD1EC, crimson, cyan, #945D87);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 10px;
}

body {
    background-image: url('/images/back-ground.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire background */
    background-attachment: fixed; /* Make the background fixed */
    background-position: center;
}

.social-media-list{
    font-size: x-large;
}

.svg-icon {
    vertical-align: middle;
}

.main-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin: 20px 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
