<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huynh Tran Hong Nhat - CV</title>
    <link rel="stylesheet" href="{{ "/assets/css/cvLayout.css" | relative_url }}">
</head>
<body>
    <div class="container">
        <!-- Profile Section -->
        <div class="profile">
            <img src="../images/profile.jpg" alt="{{ site.data.cv_data.infomation.name }} Profile Picture">
            <div class="infomation">
                <h1 class="name">{{ site.data.cv_data.infomation.name }}</h1>
                <p class="email">Email: {{ site.data.cv_data.infomation.email }}</p>
                <p class="address">Address:<br>{{ site.data.cv_data.infomation.address | newline_to_br }}</p>
                <p class="phone">Phone number: {{ site.data.cv_data.infomation.phone }}</p>
            </div>
        </div>

        <!-- Education Section -->
        <div class="education">
            <div class="section-title">Education</div>
            <p>{{ site.data.cv_data.infomation.education }}</p>
        </div>

        <!-- Skills Section -->
        <div class="skills">
            <div class="section-title">Skills</div>
            <ul>
              {%- for skill in site.data.cv_data.infomation.skills -%}
                <li>{{ skill }}</li>
              {%- endfor -%}
            </ul>
        </div>

        <!-- Work Experience Section -->
        <div class="experience">
            <div class="section-title">Work Experience & Projects</div>
            <ul>
              {%- for exp in site.data.cv_data.experience -%}
                <li>
                    <strong>{{ exp.start_date }} - {{ exp.end_date }}:</strong> {{ exp.title }} at {{ exp.company }}<br>
                    {{ exp.description }}<br>
                    <em>Skills:</em> {{ exp.skills }}
                </li>
              {%- endfor -%}
            </ul>
        </div>

        <!-- Projects Section -->
        <div class="projects">
            <div class="section-title">Self Project</div>
            <p>{{ site.data.cv_data.projects[0].description }}</p>
            <p>Demo: <a href="{{ site.data.cv_data.projects[0].demo }}" target="_blank">{{ site.data.cv_data.projects[0].demo }}</a></p>
        </div>

        <!-- About Me Section -->
        <div class="section-title">About Me</div>
        <p>{{ site.data.cv_data.about_me }}</p>
    </div>
</body>
</html>
