<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} - 履歴書</title>
    <link rel="stylesheet" href="{{ "/assets/css/cvLayout.css" | relative_url }}">
</head>
<body>
    <div class="container">
        <!-- Profile Section -->
        <div class="profile">
            <img src="../images/profile.jpg" alt="{{ site.data.cv_ja_data.information.name }} Profile Picture">
            <div class="infomation">
                <h1 class="name">{{ site.data.cv_ja_data.information.name }}</h1>
                <p class="furigana">{{ site.data.cv_ja_data.information.furigana }}</p>
                <p class="email">Email: {{ site.data.cv_ja_data.information.email }}</p>
                <p class="address">Address:<br>{{ site.data.cv_ja_data.information.address | newline_to_br }}</p>
                <p class="phone">Phone number: {{ site.data.cv_ja_data.information.phone }}</p>
            </div>
        </div>

        <!-- Education Section -->
        <div class="education">
            <div class="section-title">Education</div>
            <p>{{ site.data.cv_ja_data.information.education }}</p>
        </div>

        <div class="skills">
            <div class="section-title">スキル</div>
            <ul>
                {% for skill in site.data.cv_ja_data.information.skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="experience">
            <div class="section-title">職務経験＆プロジェクト</div>
            <ul>
                {% for exp in site.data.cv_ja_data.experience %}
                <li>
                    <strong>{{ exp.start_date }} - {{ exp.end_date }}:</strong> {{ exp.title }} ({{ exp.company }})<br>
                    {{ exp.description }}<br>
                    <em>スキル:</em> {{ exp.skills }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="projects">
            <div class="section-title">自己プロジェクト</div>
            <p>{{ site.data.cv_ja_data.projects.description }}</p>
            <p>デモ: <a href="{{ site.data.cv_ja_data.projects.demo_link }}" target="_blank">{{ site.data.cv_ja_data.projects.demo_link }}</a></p>
        </div>

        <div class="section-title">自己紹介</div>
        <p>{{ site.data.cv_ja_data.about_me.description }}</p>
    </div>
</body>
</html>
