<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div>
            <h2>*I'm cooking this stuff... :>*</h2>
        </div>
        <div class="wrapper">
        {% assign song = site.data.songs | where: "name", page.song_name | first %}

        <div class="video">
          <iframe src="{{ song.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h2>{{ song.name }}</h2>
        <p>Artist: {{ song.artist }}</p>
        <p>Tuning: {{ song.tuning }}</p>

        <div class="lyrics" id="lyricsContainer">
          <!-- The lyrics will be populated by the JavaScript function -->
        </div>
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Include CSS for chord and intonation display -->
    <link rel="stylesheet" href="/assets/css/songLayout.css">

    <!-- Include JavaScript for processing lyrics -->
    <script src="/assets/js/songLayout.js"></script>
  </body>

</html>
